<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2o26KAgeR_VNQBjSp5YQIdfvp2Zh0qCc</string>
	<key>GCM_SENDER_ID</key>
	<string>34363576590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappclone1</string>
	<key>PROJECT_ID</key>
	<string>whatsappclone1-ae104</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsappclone1-ae104.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34363576590:ios:feb7e7e4c703352978c75f</string>
	<key>DATABASE_URL</key>
	<string>https://whatsappclone1-ae104-default-rtdb.firebaseio.com</string>
</dict>
</plist>